<section class="p-1 my-3">
    
    <nb-card accent="info">
        <nb-card-header>Nebula</nb-card-header>
        <nb-card-body>
          A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
          Originally, nebula was a name for any diffuse astronomical object,
          including galaxies beyond the Milky Way.
        </nb-card-body>
      </nb-card>
      
      <nb-card accent="danger">
        <nb-card-header>Nebula</nb-card-header>
        <nb-card-body>
          A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
          Originally, nebula was a name for any diffuse astronomical object,
          including galaxies beyond the Milky Way.
        </nb-card-body>
      </nb-card>

      <nb-flip-card>
        <nb-card-front>
          <nb-card status="success">
            <nb-card-header>Front Card Header</nb-card-header>
            <nb-card-body>
              A nebula is an interstellar cloud of dust, hydrogen,
              helium and other ionized gases.
              Originally, nebula was a name for
              any diffuse astronomical object,
              including galaxies beyond the Milky Way.
            </nb-card-body>
          </nb-card>
        </nb-card-front>
        <nb-card-back>
          <nb-card status="danger">
            <nb-card-header>Back Card Header</nb-card-header>
            <nb-card-body>
              A nebula is an interstellar cloud of dust, hydrogen,
              helium and other ionized gases.
              Originally, nebula was a name for
              any diffuse astronomical object,
              including galaxies beyond the Milky Way.
            </nb-card-body>
          </nb-card>
        </nb-card-back>
      </nb-flip-card>


    <input type="text" (keyup)="itemTitleInParent = $event.target.value"/>

    <hr>
    <input type="text" class="form-control" (keyup)="inputOne = $event.target.value" [value]="inputOne"/>
    <hr>
    <app-main 
        [itemTitleInChild]="itemTitleInParent" 
        [myArray]="myArray" 
        #myChild
        (eventNameFromChild)="dataFromChild = $event"

        [(inputOne)]="inputOne"
        >
    </app-main>
    {{dataFromChild}}
</section>