<section class="users-section">



    <!-- <div>
        <button type="button" class="btn btn-primary" routerLink='add-user'>Add New Task
        </button>
    </div>

    <div *ngIf="tasksSer.tasks.length == 0">
        <p class="alert alert-primary">
            There is no Tasks
        </p>
    </div>

    <div *ngIf="tasksSer.tasks.length != 0">
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let task of tasksSer.tasks; index as i">
                <a [routerLink]="['edit-user', i+1]">
                    {{task.title}}
                </a>
                <button class="btn btn-danger" (click)="deleteTask(i)">Delete</button>
            </li>
        </ul>
    </div> -->
    
    <!-- <p ngNonBindable>{{name}}</p> -->
    <!-- <p appHighlight [highlightColor]="'yellow'">Hello World</p> -->

    <hr />
    <!-- <app-todo-list></app-todo-list> -->
    <!-- <app-counter></app-counter> -->
    <!-- <app-video-chat></app-video-chat> -->
    <!-- <app-zoom-chat></app-zoom-chat> -->
    <app-payment></app-payment>

</section>