/* You can add global styles to this file, and also import other style files */

@import 'main-styles';
@import '../node_modules/bulma/css/bulma.css';

// themes - our custom or/and out of the box themes
@import 'themes';

// framework component themes (styles tied to theme variables)
@import '~@nebular/theme/styles/globals';

// Angular Calendar
@import "../node_modules/angular-calendar/css/angular-calendar.css";

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
// @import '~ngx-toastr/toastr';

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/grid';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.content ul {
    list-style: none;
    margin: 0;
}
.content li + li {
    margin: 0;
}

body {
    overflow: auto;
}